.bar-subheader {
  background-color: #fff;
  padding: 0 !important;
}

.bar-subheader i {
  font-size: 25px;
  padding: 5px;
  color: #ccc;
}

.bar-subheader input{
  width: 80%;
  height: 43px;
  border-bottom: 1px solid #eee;
  box-sizing: border-box;
}

.bar-subheader .button-search {
  width: 20%;
}

.pets-list {
  margin-top: 40px;
}

.pets-list .item{
  padding: 25px 70px;
  padding-left: 70px !important;
}

.pets-list .pet-circle {
  border: 2px solid #0FACF3;
  padding: 5px;
  border-radius: 25px;
  width: 50px;
  overflow: hidden;
  height: 50px;
  position: relative;
}

.pets-list .pet-circle img{
  position: absolute;
  top: -5px;
  left: -7px;
}

.pets-list .box-btn {
  margin: 15px auto;
  text-align: center;
  width: 100%;
}

.pets-list .box-btn .btn-more {
  background-color: #0FACF3;
  color: #fff;
  text-transform: uppercase;
}
