<ion-view view-title="Mascotas {{vm.selectedOptionName}}">
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button buttons button-clear" on-tap="vm.filter();">
      <i class="icon ion-android-options"></i>
    </button>
  </ion-nav-buttons>
  <div class="bar bar-subheader">
    <i class="icon ion-search"></i>
    <input type="search" ng-model="vm.searchName" placeholder="Buscar..." />
    <button class="button button-search" on-tap="vm.search();">Buscar</button>
  </div>
  <ion-content class="pets-list">
    <ion-list>
      <ion-item on-tap="vm.go(pet);" class="item item-icon-left item-icon-right" ng-repeat="pet in vm.pets | limitTo: vm.perPage track by $index">
         <span class="icon">
           <div class="pet-circle">
             <span ng-repeat="image in pet.photoUrls | limitTo: 1" >
                 <img ng-if="pet.photoUrls.length > 0" ng-src="{{image}}" width="50" />
             </span>
             <img ng-if="pet.photoUrls.length == 0" src="https://goo.gl/CYxjeu" width="60" />
           </div>
         </span>
         <span class="item-text-wrap">
          {{pet.name}}
         </span>
         <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
    <div class="box-btn">
      <button class="button btn-more" ng-disabled="vm.perPage >= vm.pets.length" ng-click="vm.loadMore()">Ver más</button>
    </div>
  </ion-content>
</ion-view>
