<ion-view view-title="Mascota Detalle">
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap" align="center">
        <div class="pet-circle">
          <span ng-repeat="image in vm.data.photoUrls | limitTo: 1" >
              <img ng-if="vm.data.photoUrls.length > 0" ng-src="{{image}}" width="100" />
          </span>
          <img ng-if="vm.data.photoUrls.length == 0" src="https://goo.gl/CYxjeu" width="100" />
        </div>
        <div class="title">
          {{::vm.data.name}}
        </div>
        <div class="category">
          {{::vm.data.category.name}}
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
