.card .pet-circle {
  border: 2px solid #0FACF3;
  padding: 5px;
  border-radius: 50px;
  overflow: hidden;
  margin-bottom: 15px;
  height: 100px;
  position: relative;
  width: 100px;
}

.card .pet-circle img{
  position: absolute;
  top: 0px;
  left: -2px;
}

.card .title {
  font-weight: bold;
  margin-bottom: 6px;
}
